
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Movie Insert
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css', rel='stylesheet')
    style(type='text/css').
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
  body

  h2 결제완료!! 디비 값들어갔는지 확인해봐
